{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block body %}
    <!-- begin #content -->
<div id="content" class="content">
    <div class="row">
        <!-- begin col-6 -->
        <div class="col-xl-6">
            <!-- begin panel -->
            <div class="panel panel-inverse" data-sortable-id="ui-media-object-1">
                <!-- begin panel-heading -->
                <div class="panel-heading">
                    <h4 class="panel-title">Default Media Object</h4>
                    <div class="panel-heading-btn">
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-redo"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>
                    </div>
                </div>
                <!-- end panel-heading -->
                <!-- begin panel-body -->
                <div class="panel-body">
                    {% for r in result %}
                        {#{{ dump(r) }}#}
                        <div class="media media-sm">
                            <a class="media-left" href="javascript:;">
                                <img src="" alt="" class="media-object rounded"/>
                            </a>
                            <div class="media-body">
                                <a href="{{ r.link }}"><h5 class="media-heading">{{ r.title }}</h5> <small>{{ r.lastModified|date('d/m/Y') }}</small></a>
                                <p>{{ r.description|raw }}</p>
                            </div>
                        </div>
                    {% endfor %}

                </div>
                <!-- end panel-body -->
            </div>
            <!-- end panel -->
        </div>
        <!-- end col-6 -->
    </div>


    {#        <!-- begin #accordion -->#}
    {#        <div id="accordion" class="accordion">#}
    {#            <!-- begin card -->#}
    {#                {% if loop.first %}#}
    {#                    #}{#			{{ dump(r) }}#}
    {#                {% endif %}#}
    {#                <div class="card bg-dark text-white">#}
    {#                    <div class="card-header bg-dark-darker pointer-cursor d-flex align-items-center {{ not loop.first ? 'collapsed' : '' }}" data-toggle="collapse" data-target="#collapse{{ loop.index }}">#}
    {#                        <i class="fa fa-circle fa-fw text-blue mr-2 f-s-8"></i> {{ r.title }} - <small>{{ r.lastModified|date('d/m/Y') }}</small>#}
    {#                    </div>#}
    {#                    <div id="collapse{{ loop.index }}" class="collapse {{ loop.first ? 'show' : '' }}" data-parent="#accordion">#}
    {#                        <div class="card-body">#}
    {#                            {{ r.description|raw }}#}

    {#                            <div>#}
    {#                                <a href="{{ r.link }}">Voir</a>#}
    {#                            </div>#}
    {#                        </div>#}
    {#                    </div>#}
    {#                </div>#}

    {#            <!-- end card -->#}
    {#        </div>#}
    {#        <!-- end #accordion -->#}
    {#    </div>#}


    <!-- end #content -->
    {% endblock %}
{% block javascripts %}
{% endblock %}